<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>EmailSender</title>
</head>
<body>
    <%- include('partials/header') %>
    <body>
        <div class="welcome-section">
          <h1>Welcome to EmailSender App</h1>
          <p>Send emails and schedule emails with ease!</p>
        </div>

        <form class="registration-form" action="/register" method="POST">
          <h2>Login</h2>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <button type="submit">Login</button>
        </form>

</div>
<div class="col-sm-4">
  <div class="card social-block">
    <div class="card-body">
      <a class="btn btn-block btn-google" href="/auth/google" role="button"> 
        <i class="fab fa-google"></i>
        Sign in with Google
      </a>
    </div>
  </div>
</div> 
  </body>
</html>

